@{
    Layout = "~/Views/Shared/_LayoutLogins.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập tài khoản</title>

    <!-- Custom fonts for this template-->
    <link href="~/Theme/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Theme/Admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Chào mừng quay trở lại!</h1>
                                    </div>
                                    <form class="user" id="loginform">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                   id="InputEmail" aria-describedby="emailHelp"
                                                   placeholder="Nhập Email..." name="Tài Khoản"required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="InputPassword" placeholder="Mật Khẩu" name="Mật Khẩu" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">
                                                    Lưu đăng nhập
                                                </label>
                                            </div>
                                        </div>
                                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Đăng nhập">
                                        
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Đăng nhập với Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Đăng nhập với Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="ForGotPassword">Quên mật khẩu ?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="Register">Đăng ký tài khoản !</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Theme/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Theme/Adminvendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Theme/Adminjs/sb-admin-2.min.js"></script>

    <script>
        document.getElementById('loginform').addEventListener('submit', function (e) {
            e.preventDefault();

            const url = '/api/Accounts/LoginsAccount';

            const email = document.getElementById('InputEmail').value;
            const password = document.getElementById('InputPassword').value;
            const rememberLogin = document.getElementById('customCheck').checked; // Kiểm tra trạng thái của checkbox

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    Email: email,
                    Password: password,
                    RememberLogin: rememberLogin // Ghi nhớ đăng nhập
                }),
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Tài khoản hoặc mật khẩu không chính xác!');
                    }
                })
                .then(data => {
                    if (data.status === true) {
                        localStorage.setItem('loggedInUser', JSON.stringify(data));
                        localStorage.setItem('isLogged', 1);
                        if (rememberLogin) { // Nếu người dùng chọn "Remember Me"
                            localStorage.setItem('rememberLogin', true); // Lưu trạng thái "Remember Me" vào local storage
                        } else {
                            localStorage.removeItem('rememberLogin'); // Xóa trạng thái "Remember Me" khỏi local storage nếu không chọn
                        }
                        window.location.href = '/';
                    } else {
                        throw new Error('Tài khoản hoặc mật khẩu không chính xác!');
                    }
                })
                .catch(error => {
                    alert(error.message);
                });
        });

        // Kiểm tra trạng thái "Remember Me" khi trang web được tải
        window.addEventListener('DOMContentLoaded', function () {
            const rememberLogin = localStorage.getItem('rememberLogin');
            if (rememberLogin === 'true') {
                document.getElementById('customCheck').checked = true; // Đánh dấu checkbox nếu đã chọn "Remember Me" trước đó
            }
        });

    </script>
</body>

</html>