@{
    ViewData["Title"] = "Manage_HotSpots";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MANAGE HOTSPOT</title>
@* <link rel="stylesheet" href="styles.css"> *@
<link rel="stylesheet" type="text/css" href="~/css/styles_options.css" />

<style>

    button {
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
        border: none;
        border-radius: 10px;
    }

        button:hover {
            background-color: #008CBA;
            color: white;
            transform: scale(1.1);
        }

    h1 {
        font-size: 27px;
        font-family: Arial;
        color: black;
    }

    #editTable {
        display: none;
    }</style>


<h1>MANAGER HOTSPOT</h1>
<form id="addDataFormHSP">
    <label for="InputScenesID">Belong to id scenes?</label>
    <input type="text" id="InputScenesID" required><br />

    <label for="InputIDNextScenes">Id next scenes?</label>
    <input type="text" id="InputIDNextScenes" required><br />

    <label for="InputText">Title next scenes</label>
    <input type="text" id="InputText" required><br />

    <label for="InputPitch">Vertical (Pitch)</label>
    <input type="number" step="0.1" id="InputPitch" required><br />

    <label for="InputYaw">Horizontal (Yaw)</label>
    <input type="number" step="0.1" id="InputYaw" required><br />

    <button type="submit" style="justify-content: center;">Add New HotSpot</button> <br />
    <br />
</form>

<h1>LIST HOTSPOT</h1>
<table id="HotSpotTable" style="font-size:15px">
    <thead>
        <tr>
            <th>Code HotSpot</th>
            <th>Id Scenes </th>
            <th>Id Next Scenes</th>
            <th>Title Scenes</th>
            <th>Vertical (Pitch)</th>
            <th>Horizontal (Yaw)</th>
            <th>Acction Slect</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="editTable">
    <input type="text" id="editCodeHotSpots" placeholder="Code HotSpot">
    <input type="text" id="editScenesID" placeholder="Belong to id Scenes ">
    <input type="text" id="editIDNextScenes" placeholder="Id next Scenes">
    <input type="text" id="editText" placeholder="Title next Scenes">
    <input type="number" id="editPitch" placeholder="Vertical (Pitch)">
    <input type="number" id="editYaw" placeholder="Horizontal (Yaw)">
    <button id="saveChangesBtn">SAVE </button>
</div>
<script src="~/js/ManageHotSpots.js"></script>



