@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/About.css">
<link rel="stylesheet" href="~/css/reset.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<body>
    <div id="wrapper" style="width: 100%;">
        <div id="header">

            <h1> Ảnh 360° </h1>
            <p>
                Ảnh 360 độ hay còn gọi là Virtual Tour 360 là hình ảnh giúp bạn có thể thu
                lại toàn cảnh chỉ trong một khung ảnh và được tích hợp công nghệ phần mềm xử
                lý ảnh tạo giúp hình ảnh được thực tế hơn, có thể xem trực tiếp trên nền tảng Website,
                Ứng dụng hoặc kính thực tế ảo 360
            </p>
        </div>
        <!-- end header  -->
        <div id="sm-gt">
            <div id="sm">
                <h2> Sứ mệnh </h2>
                <p>Chúng tôi được thành lập với sứ mệnh là bằng sản phẩm của mình, KẾT NỐI con người vào cuộc sống mới, không gian mới, cảm xúc mới, trải nghiệm mới về cuộc sống hạnh phúc. Kết nối những hệ thống để mang lại giá trị cho chính mình. Kết nối chính mình vào hệ thống..</p>
            </div>
            <div id="gt">
                <h2>Giá trị</h2>
                <p>1. Xây dựng lòng tin, khẳng định vị thế và năng lực sáng tạo của người Việt với các giải pháp thông minh.</p>
                <p>2. Xây dựng lòng tin vào các sản phẩm phim ảnh làm bởi người Việt.</p>
                <p>3. Xây dựng lòng tin vào môi trường làm việc hiệu quả và có lợi ích phát triển lâu dài cho tất cả các thành viên.</p>
            </div>
        </div><!-- end sm-gt -->
        <div id="main-content">
            <div id="content">
                <h2>Giới thiệu </h2>
                <p>
                    Với 0 năm kinh nghiệm, đội ngũ nhân sự tại gia, chúng tôi cung cấp trọn gói sản phẩm phục vụ các giải pháp tối ưu hình ảnh sản phẩm.
                    Sản phẩm chúng tôi góp phần thành công trong chiến lược truyền thông, chiến lược bán hàng của các công ty thông qua hình ảnh đẹp, dễ hình dung và những công nghệ thông minh.
                </p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fal fa-glasses fa-4x"></i>
                                <p>Text 1</p>
                            </div>
                            <div class="col-md-6">
                                <i class="fal fa-binoculars fa-4x"></i>
                                <p>Text 2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fal fa-cog fa-4x"></i>
                                <p>Text 3</p>
                            </div>
                            <div class="col-md-6">
                                <i class="fal fa-phone-volume fa-4x"></i>
                                <p>Text 4</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fal fa-brain fa-5x"></i>
                                <p>Text 5</p>
                            </div>
                            <div class="col-md-6">
                                <i class="fal fa-phone-laptop fa-4x"></i>
                                <p>Text 6</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="icon1">
                <h2>Icon</h2>
                <i class="fal fa-glasses fa-4x"></i>
                <i class="fal fa-binoculars fa-4x"></i>
                <i class="fal fa-cog fa-4x"></i>
            </div>
                <div id="icon2">
                <i class="fal fa-phone-volume fa-4x"></i>
                <i class="fal fa-brain fa-5x"></i>
                <i class="fal fa-phone-laptop fa-4x"></i>
            </div> -->
        </div>
        <!-- end mai_content -->
        <div id="form_dn">
            <h2>Đội ngũ chuyên gia</h2>
            <div id="n1">
                <h3>Nguyễn Viết Mạnh</h3>
            </div>
            <div id="n2">
                <h3>Nguyễn Mỹ Duyên</h3>
            </div>
            <div id="n3">
                <h3>Nguyễn Văn Trường </h3>
            </div>

        </div>
        <!-- end form_dn -->
    </div>
</body>